*{
    padding: 0%;
    margin: 0%;
}
nav{
    /* background-color: white; */
    width: 100%;
    line-height: 80px;
 }
.LOGO-HEADING{
      font-size: 25px;
    color: gray;
    padding: 0px 50px;
    font-weight: bold;
}
nav ul
{
    padding-left: 150px;
    float: right;
    padding-left: 50px;
    }
nav ul li
{
        display: inline-block;
    margin: 0px 50px;
  
}

.card-text-color{
      color: red;
 }
 .Left-nav
 {
     float: left;
 }
 .Right-nav
 {
     float: right;
 }
 .footer
 {
    width: 100%;
    padding: 15px 300px;
  }
 .inside-footer
 {
     text-align: center;
       font-size: 15px;
 }
 .logolink
 {
     color: white;
     text-decoration: none;
 }